<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 创建SomeBean的实例,交给IoC来管理 -->
    <bean id="somebean" class="com.zy._01_hello.SomeBean"/>
    <bean id="otherBean" class="com.zy._06_xml_javaconfig.OtherBean"/>
</beans>